<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Connaught</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">connaught</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 style="text-align: center;">Flag of Connaught</h1>
  <img src="https://upload.wikimedia.org/wikipedia/commons/e/e1/Flag_of_Connacht.svg" style="display: block; margin: auto;">
  <hr>
  <h2 style="text-align: center; border-top: 1px solid white; padding-top: 10px;">Counties in Connaught</h2>
  <ul>
    <li>Galway</li>
    <li>Leitrim</li>
    <li>Mayo</li>
    <li>Roscommon</li>
    <li>Sligo</li>
  </ul>
</ion-content>
