<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/" defaultHref="/" routerDirection="root"></ion-back-button>
    </ion-buttons>
    <ion-title>Current Habits</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/edit-habit-details']">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- No habits message -->
  <div *ngIf="habits.length === 0" style="text-align: center; margin-top: 4rem; color: var(--ion-color-medium);">
    <p>You don't have any current habits :(</p>
    <p>Try adding some now!</p>
  </div>

  <!-- Habits list -->
  <ion-list *ngIf="habits.length > 0" style="border-radius: 5px;">
    <ion-item
      *ngFor="let habit of habits; let i = index"
      [routerLink]="['/edit-habit-details', habit.id]"
      [ngClass]="{ 'inactive-habit': !habit.active }"
      class="habit-item"
      detail
          >
      <!-- Number on the left -->
      <div slot="start" class="habit-number">
        {{ i + 1 }}
      </div>
  
      <!-- Habit name & description -->
      <ion-label>
        <h2>{{ habit.name }}</h2>
        <p>{{ habit.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  
  
  
  
</ion-content>
