.inactive-habit {
    opacity: 0.5;
    filter: grayscale(100%);
  }
  
  .habit-item {
    --background-hover: var(--ion-color-light-shade);
    --background-activated: var(--ion-color-light);
    cursor: pointer;
  }
  
  .habit-number {
    font-size: 2rem;
    font-weight: bold;
    color: var(--ion-color-medium);
    border-right: 1px solid var(--ion-color-medium);
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
  }
  
  