<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Add a back button to the toolbar -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- Button ends here -->
    <ion-title>Ulster</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ulster</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 style="text-align: center;">Flag of Ulster</h1>
  <img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Flag_of_Ulster.svg" style="display: block; margin: auto;">
</ion-content>
